<div id="account-overview" v-cloak>
  <div class="container">
    <h1>Il mio account</h1>
    <hr/>
    <div class="row mb-3">
      <div class="col-sm-6">
        <h4>Informazioni personali</h4>
      </div>
      <div class="col-sm-6">
        <span class="float-sm-right">
          <a class="btn btn-sm btn-outline-info account-settings-button" href="/account/profile">Modifica profilo</a>
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col-3">Nome:</div>
      <div class="col"><strong>{{me.fullName}}</strong></div>
    </div>
    <div class="row">
      <div class="col-3">Email:</div>
      <div class="col">
        <strong :class="[me.emailStatus === 'unconfirmed' || me.emailStatus === 'changeRequested' ? 'text-muted' : '']">{{me.emailChangeCandidate ? me.emailChangeCandidate : me.emailAddress}}</strong>
        <span v-if="me.emailStatus === 'unconfirmed' || me.emailStatus === 'changeRequested'" class="badge badge-pill badge-warning">Unverified</span>
      </div>
    </div>
    <hr/>
    <div class="row mb-3">
      <div class="col-sm-6">
        <h4>Password</h4>
      </div>
      <div class="col-sm-6">
        <span class="float-sm-right">
          <a class="btn btn-sm btn-outline-info account-settings-button" href="/account/password">Change password</a>
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col-3">Password:</div>
      <div class="col"><strong>••••••••••</strong></div>
    </div>
    <hr/>
    <div class="row mb-3" v-if="isBillingEnabled">
      <div class="col-sm-6">
        <h4>Fatturazione</h4>
      </div>
      <div class="col-sm-6">
        <span class="float-sm-right">
          <ajax-button :syncing="syncingOpenCheckout || syncingUpdateCard" class="btn btn-sm btn-outline-info account-settings-button" @click="clickStripeCheckoutButton()">
            <span slot="syncing-state">
              <span v-if="syncingOpenCheckout">Connessione...</span>
              <span v-else>Aggiornamento...</span>
            </span>
            <span slot="default">{{ me.hasBillingCard ? 'Cambia carta' : 'Aggiungi carta' }}</span>
          </ajax-button>
        </span>
      </div>
    </div>
    <div v-if="isBillingEnabled && me.hasBillingCard">
      <div class="row">
        <div class="col-3">Carta di credito:</div>
        <div class="col">{{me.billingCardBrand}} ending in <strong>{{me.billingCardLast4}}</strong> <a class="remove-button ml-2" @click="clickRemoveCardButton()">Rimuovi</a></div>
      </div>
      <div class="row">
        <div class="col-3">Scadenza:</div>
        <div class="col">{{me.billingCardExpMonth}}/{{me.billingCardExpYear}}</div>
      </div>
    </div>
    <div class="alert alert-danger" v-else-if="isBillingEnabled && cloudError">
      C'è stato un errore inserendo i dati della tua carta. Controlla le informazioni e riprova, o <a href="/contact">contatta il supporto</a> se il problema persiste.
    </div>
    <div class="alert alert-secondary" v-else-if="isBillingEnabled">
        Non hai collegato una fonte di pagamento al tuo account. Per accedere alle funzioni a pagamento, devi fornire i dati della tua carta di credito. (Non preoccuparti: ti verrà addebitato solo quando hai raggiunto il limite del tuo piano gratuito.)
    </div>
  </div>

  <% /* Confirm Remove Card Info Modal */ %>
  <modal v-if="removeCardModalVisible" @close="closeRemoveCardModal()" v-cloak>
    <div class="modal-header">
      <h5 class="modal-title">Rimuovere le informazioni della carta?</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span>&times;</span>
      </button>
    </div>
    <ajax-form action="updateBillingCard" :syncing.sync="syncingRemoveCard" :cloud-error.sync="cloudError" :handle-parsing="handleParsingRemoveCardForm" @submitted="submittedRemoveCardForm()">
      <div class="modal-body">
        <p>Sei sicuro di voler rimuovere il tuo {{me.billingCardBrand}} che termina con <strong> {{me.billingCardLast4}} </ strong>?</p>
        <p class="text-muted">This may restrict your access to paid features.</p>
        <p class="text-danger" v-if="cloudError"><small>Si è verificato un errore durante l'elaborazione della richiesta. Controlla i tuoi dati e riprova oppure <a href="/contact"> contatta l'assistenza </a> se l'errore persiste. </small></p>
      </div>
      <div class="modal-footer">
        <button data-dismiss="modal" class="btn btn-outline-secondary mr-1">Lascia stare</button>
        <ajax-button type="submit" :syncing="syncingRemoveCard" class="btn btn-danger ml-1">Rimuovi</ajax-button>
      </div>
    </ajax-form>
  </modal>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
