<div id="welcome">
  <div class="container">
    <h1>Dashboard</h1>
    <hr/>
    <p>Non c'è nulla qui, usa il men&ugrave;!</p>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
