<div id="confirmed-email" v-cloak>
  <div class="container">
    <h1 class="text-center">Email confermata</h1>
    <div class="confirmation-message">
      <hr/>
      <p>Congratulazioni, il tuo account è ora verificato! Ora hai pieno accesso al tuo account.</p>
      <p><a class="btn btn-outline-info" href="/">Vai alla dashboard</a></p>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
