<div id="forgot-password" v-cloak>
  <div class="container">
    <h1 class="text-center">Recover password</h1>
    <div class="forgot-form" v-if="!cloudSuccess">
      <p class="text-center">Inserisci il tuo indirizzo email qui sotto per reimpostare la password per il tuo account.</p>
      <hr/>
      <ajax-form action="sendPasswordRecoveryEmail" :syncing.sync="syncing" :cloud-error.sync="cloudError" @submitted="submittedForm()" :handle-parsing="handleParsingForm">
        <div class="form-group">
          <input type="email" name="email-address" class="form-control" placeholder="sturgeon@example.com" :class="[formErrors.emailAddress ? 'is-invalid' : '']" v-model.trim="formData.emailAddress" autocomplete="email" focus-first>
          <div class="invalid-feedback" v-if="formErrors.emailAddress">Inserisci un indirizzo email valido</div>
        </div>
        <p class="text-danger" v-if="cloudError"><small>Si è verificato un errore durante l'elaborazione della richiesta. Controlla le tue informazioni e riprova oppure contatta l'assistenza se l'errore persiste.</small></p>
        <div class="form-group">
          <ajax-button type="submit" :syncing="syncing" class="btn btn-dark btn-lg btn-block">Send reset link</ajax-button>
        </div>
      </ajax-form>
      <p class="text-center"><a href="/login">Indietro al login</a></p>
    </div>
    <div class="success-message" v-if="cloudSuccess">
      <p>Ti abbiamo inviato un link per aggiornare la tua password.</p>
      <hr/>
      <p>Se l'email non arriva dopo alcuni minuti, prova a controllare la cartella spam. Se ancora non riesci a trovarlo, riprova o contatta l'assistenza.</p>
      <p class="text-center"><a class="btn btn-outline-primary" href="/login">Torna al login</a></p>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
